<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/bcss/bootstrap.min.css' />
  </head>
  <body>
    <div class="container pt-5">
    {{{body}}}
    </div>
  </body>
</html>
